<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="443130310905-s9hq5vg9nbjctal1dlm2pf8ljb9vlbm3.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body style="background-color:powderblue;">
    <h1>Token Verification Research Button Home Page</h1>
    <h2>Test site to research existing server-side token verification libraries provided by Google</h2>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script>
	    function onSignIn(googleUser){
		    var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to the backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:5000/button-token');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
              console.log('Server Response:\n' + xhr.responseText);
                document.write(xhr.responseText);
            };
            xhr.send('id_token=' + id_token + '&client_id=443130310905-s9hq5vg9nbjctal1dlm2pf8ljb9vlbm3.apps.googleusercontent.com');
        }
    </script>
  </body>
</html>
