<html lang="en">
  <head>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body style="background-color:powderblue;">
    <h1>Token Verification Research OneTap Home Page</h1>
    <h2>Test site to research existing server-side token verification libraries provided by Google</h2>
    <div id="g_id_onload"
     data-client_id="443130310905-s9hq5vg9nbjctal1dlm2pf8ljb9vlbm3.apps.googleusercontent.com"
     data-context="signin"
     data-cancel_on_tap_outside="false"
     data-login_uri="http://localhost:5000/onetap-token">
    </div>
  </body>
</html>
